@model CreateAppointmentViewModel

@using HospitalWebApplication.Models.Patients

@{
	Layout = null;
}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="">
	<meta name='copyright' content=''>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="~/css/site.css" rel="stylesheet" />
	<!-- Title -->
	<title>Mediplus - Free Medical and Doctor Directory HTML Template.</title>

	<!-- Favicon -->
	<link rel="icon" href="~/ProjectTheme2/img/favicon.png">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<link href="~/css/promis-form.css" rel="stylesheet" />
	<link href="~/css/general.css" rel="stylesheet" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/ProjectTheme2/css/bootstrap.min.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="~/ProjectTheme2/css/nice-select.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="~/ProjectTheme2/css/font-awesome.min.css">
	<!-- icofont CSS -->
	<link rel="stylesheet" href="~/ProjectTheme2/css/icofont.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="~/ProjectTheme2/css/slicknav.min.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="~/ProjectTheme2/css/owl-carousel.css">
	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="~/ProjectTheme2/css/datepicker.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="~/ProjectTheme2/css/animate.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="~/ProjectTheme2/css/magnific-popup.css">

	<!-- Medipro CSS -->
	<link rel="stylesheet" href="~/ProjectTheme2/css/normalize.css">
	<link rel="stylesheet" href="~/ProjectTheme2/style.css">
	<link rel="stylesheet" href="~/ProjectTheme2/css/responsive.css">
	<style>
		.app-time {
			border: 1px solid #fff;
			padding: 20px 30px;
			box-shadow: 2px 4px 10px 0px #c7cacce3;
		}

		.option-input {
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			-o-appearance: none;
			appearance: none;
			position: relative;
			top: 5px;
			right: 0;
			bottom: 0;
			left: 40px;
			height: 20px;
			width: 20px;
			transition: all 0.15s ease-out 0s;
			background: #fff;
			border: 1px solid #999;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			margin-right: 0.5rem;
			outline: none;
			position: relative;
			z-index: 1000;
		}

			.option-input:hover {
				background: #e5e7eb;
			}

			.option-input:checked {
				border: 1px solid #fff;
			}

				.option-input:checked::before {
					color: #d9486d;
					height: 40px;
					width: 40px;
					position: absolute;
					content: "✔";
					display: inline-block;
					font-size: 12px;
					left: 4px;
					line-height: 20px;
				}

				.option-input:checked::after {
					-webkit-animation: click-wave 0.65s;
					-moz-animation: click-wave 0.65s;
					animation: click-wave 0.65s;
					background: #40e0d0;
					content: "";
					display: block;
					position: relative;
					z-index: 100;
				}

			.option-input.radio {
				border-radius: 50%;
				calc(40.666% )
			}

				.option-input.radio::after {
					border-radius: 50%;
				}

		.app-check {
			display: flex;
			flex-wrap: wrap;
			gap: 10px; /* Adjust the gap as needed */
		}

		.app-border {
			border: 1px solid #ccc;
			padding: 5px;
			text-align: center;
			width: 139px;
			box-sizing: border-box;
			margin-bottom: 11px;
			margin-left: 16px;
			transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Adding smooth transitions for both box-shadow and size changes */
			border-radius: 8px; /* Adjust the value for the desired roundness */
		}

			.app-border:hover {
				box-shadow: 0px 0px 5px rgba(26, 118, 209, 0.8); /* Blue color with 0.8 opacity for a shadow effect, with a smaller blur radius */
				transform: scale(1.03); /* Slightly larger size on hover, adjust the scale factor as needed */
			}



		.option-input.radio:checked + .app-border {
			background: #d9486d;
		}

		.option-input.radio:disabled,
		.option-input.radio:disabled + .app-border {
			cursor: not-allowed;
			opacity: 0.6;
		}

		.app-label {
			position: relative;
			top: 5px;
			margin-right: 10px;
		}

	</style>
</head>
<body>


	<!-- Header Area -->
	<header class="header">
		<partial name="_LoginPartial" />
	</header>
	<!-- End Header Area -->
	<!-- Breadcrumbs -->
	<div class="breadcrumbs overlay">
	</div>
	<!-- End Breadcrumbs -->
	<!-- Single News -->
	<section class="news-single section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-12">
					<div class="row">
						<div class="col-12">
							<div class="single-main">
								<!-- News Head -->
								<div class="news-head">
									@*<img src="~/profilepics/@Model.Appointment.Doctor.User.ProfilePicture" alt="#">*@
								</div>

								<div class="meta promis-form-container">
									<div class="meta-left promis-questions-container">

										<p class="question-announcement">The following questions are meant to be answered considering the past 7 days</p>
										<div class="questions-explanation">
											<p style="color: black; font-size: 18px;">(1 = Very Often, 5 = Not at All)</p>
										</div>
										<form asp-controller="Patient" asp-action="BookAppointment">
											<input type="text" class="form-control" hidden asp-for="@Model.Appointment.ID" value="@Model.Appointment.ID">
											<input type="text" class="form-control" hidden asp-for="@Model.Appointment.AppointmentStartTime" value="@Model.Appointment.AppointmentStartTime">
											<input type="text" class="form-control" hidden asp-for="@Model.Appointment.AppointmentEndTime" value="@Model.Appointment.AppointmentEndTime">
											<input type="text" class="form-control" hidden asp-for="@Model.Appointment.AppointmentDate" value="@Model.Appointment.AppointmentDate">
											<input type="text" class="form-control" hidden asp-for="@Model.Appointment.InitialTotal" value="@Model.Appointment.InitialTotal">
											<input type="text" class="form-control" hidden asp-for="@Model.Appointment.IsBooked" value="True">
											<input type="text" class="form-control" hidden asp-for="@Model.Appointment.DoctorID" value="@Model.Appointment.DoctorID">
											<input type="text" class="form-control" hidden asp-for="@Model.Appointment.UserID" value="@Model.Appointment.UserID">

											@for (var i = 0; i < PROMIS10_Questions.QuestionsList.Count; i++)
											{
												<div class="question-and-answers">
													<label class="promis-question">@(i + 1). @PROMIS10_Questions.QuestionsList[i]</label>
													<div class="answers">
														@for (var j = 1; j <= 5; j++)
														{
															<label>
																<input class="answer-radio form-check-input" type="radio" name="Answers[@i]" value="@j" required /> @j
															</label>
														}
													</div>
													<input type="hidden" name="QuestionIds[@i]" value="@i" style="float:right" />
												</div>
											}

											<div>
												<label class="additional-info">You can provide additional info here if you wish</label>
												<textarea type="" placeholder="Add notes..." class="notes-input" asp-for="@Model.Appointment.Notes"></textarea>
											</div>
											<div class="promis-form-button-container">
												<button class="promis-form-submit-button" type="submit">Submit</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12">
					<div class="main-sidebar">
						<!-- Single Widget -->
						<div class="single-widget category">
							<h3 class="title">Doctor Bio</h3>
							<p>
								@(Model.Appointment.Doctor.Bio != null ? Model.Appointment.Doctor.Bio : "Specialist at Ineza Physiotherapy Clinic")
							</p>
						</div>
						<!--/ End Single Widget -->
						<!-- Single Widget -->
						<div class="single-widget category">
							<h3 class="title">Appointment Details</h3>
							<ul class="categor-list" style="display: flex; flex-direction: column; align-items: start;">
								<li><a> <span style="color:black;font-weight:500">Appointment Date: </span> @Model.Appointment.AppointmentDate.ToString("MM/dd/yyyy")</a></li>
								<li><a> <span style="color:black;font-weight:500">Start Time: </span> @Model.Appointment.AppointmentStartTime</a></li>
								<li><a> <span style="color:black;font-weight:500">End Time: </span> @Model.Appointment.AppointmentEndTime</a></li>
								<li><a> <span style="color:black;font-weight:500">Initial Total: </span> $ @Model.Appointment.InitialTotal</a></li>
							</ul>
						</div>
						<!--/ End Single Widget -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Single News -->
	<partial name="_FooterPartial" />

	<!--/ End Footer Area -->
	<script src="~/ProjectTheme2/js/jquery.min.js"></script>
	<script src="~/ProjectTheme2/js/jquery-migrate-3.0.0.js"></script>
	<script src="~/ProjectTheme2/js/jquery-ui.min.js"></script>
	<script src="~/ProjectTheme2/js/easing.js"></script>
	<script src="~/ProjectTheme2/js/colors.js"></script>
	<script src="~/ProjectTheme2/js/popper.min.js"></script>
	<script src="~/ProjectTheme2/js/bootstrap-datepicker.js"></script>
	<script src="~/ProjectTheme2/js/jquery.nav.js"></script>
	<script src="~/ProjectTheme2/js/slicknav.min.js"></script>
	<script src="~/ProjectTheme2/js/jquery.scrollUp.min.js"></script>
	<script src="~/ProjectTheme2/js/niceselect.js"></script>
	<script src="~/ProjectTheme2/js/tilt.jquery.min.js"></script>
	<script src="~/ProjectTheme2/js/owl-carousel.js"></script>
	<script src="~/ProjectTheme2/js/jquery.counterup.min.js"></script>
	<script src="~/ProjectTheme2/js/steller.js"></script>
	<script src="~/ProjectTheme2/js/wow.min.js"></script>
	<script src="~/ProjectTheme2/js/jquery.magnific-popup.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<script src="~/ProjectTheme2/js/bootstrap.min.js"></script>
	<script src="~/ProjectTheme2/js/main.js"></script>
</body>
</html>